table {
  border-collapse: collapse;
}
td {
  border: 1px black solid;
}
.cell {
  font-size: 11pt;
  width: 20px;
  height: 20px;
}
.cell:hover:not(.today) {
  background-color: rgb(225,255,255);
}

.icon {
  width: 100%;
  height:100%;
}

.today {
  font-style: italic;
  background-color: rgb(255,200,200);
}
